build/
exe/
*.o
log.ww4
ww4_local_config.cmake
verify_ww4.py
test_format
test_format.cpp

# User-specific configuration
/*.yaml

# Python
__pycache__/
*.py[cod]
*$py.class

# Externals
externals/*
!externals/README.md
